.action-card {
  color: var(--foreground);
  background-color: var(--background);
  border-color: var(--foreground);
  border-width: 1px;
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  align-items: center;
  min-height: 65px;
  position: relative;
}

.action-card-new {
  color: var(--foreground);
  background-color: var(--background);
  border-color: var(--foreground);
  border-width: 1px;
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  align-items: center;
}

.action-divider {
  color: var(--background);
  background-color: var(--foreground);
  border-color: var(--background);
  border-width: 1px;
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  align-items: center;
  min-height: 65px;
}

.action-divider-title-text {
  color: var(--background);
  font-weight: bold;
  font-size: 1.4rem;
}

.action-divider-player-tag {
  font-weight: bold;
  font-size: .8rem;
}

.action-card-text {
  color: var(--foreground);
  font-weight: bold;
  font-size: 1rem;
}

.action-card-button {
  color: var(--foreground);
  background-color: transparent;
  border-width: 0px;
}

.action-options-fill {
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  left: 0;
  width: 100%;
  z-index: 10;
}